/* start global element */
:root {
    --transition: 0.3s;
    --green-color: #30a420;
    --orange-color: #c07505;
    --blue-color: #297dcc;
    --alt-green-color: #26811a;
    --red-color: #c33c3c;
    --grey-color: #888;
    --border-color: #ccc;
}
.body {
    background-color: #eee;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--green-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--alt-green-color);
}
a {
    text-decoration: none;
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
*:focus {
    outline: none;
}
/* end global element */
/* start sidebar */

.sidebar.dark {
    box-shadow: 0 0 10px #2b2b2b;
}
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #b6b6b6;
}
.sidebar > h3 {
    margin-bottom: 50px;
    color: var(--green-color);
    font-size: 30px;
}
.sidebar > h3::before {
    content: "";
    background-color: var(--grey-color);
    left: 50%;
    position: absolute;
    bottom: -20px;
    height: 3px;
    width: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
}
.sidebar > .dark::after {
    border: 2px solid #3a3a3a;
}
.sidebar > h3::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--grey-color);
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    bottom: -24px;
}
.sidebar ul li a {
    margin-bottom: 5px;
}
.sidebar ul li .dark:hover , 
.sidebar ul li .dark.active {
    color: var(--green-color);
    padding-left: 10px;
    background-color: #3a3a3a;
}
.sidebar ul li a:hover , 
.sidebar ul li a.active {
    color: var(--green-color);
    padding-left: 10px;
    background-color: #f0f0f0;
}
.sidebar ul li a:hover span{
    padding-left: 10px;
}
.sidebar ul li span {
    transition: var(--transition);
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600;
}
@media (max-width: 767px) {
    .sidebar {
        width: 60px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .sidebar > h3::after,
    .sidebar > h3::before {
        display: none;
    }
    .sidebar ul li span {
        display: none;
    }
}
/* end sidebar */

/* start head */
.content {
    overflow: hidden;
}
.content .head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-color);
}
.content .head .search .dark {
    border: 2px solid #4c4c4c;
}
.content .head .search input {
    border: 2px solid var(--border-color);
    border-radius: 20px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width var(--transition);
}
.content .head .search input:focus {
    width: 200px;
}
@media (max-width: 767px) {
    .content .head .search input {
        width: 120px;
    }
    .content .head .search input:focus {
        width: 120px;
    }
}
.content .head .search input:focus::placeholder {
    opacity: 0;
}
.content .head .icons .notification::before {
    content: "2";
    font-size: 7px;
    color: white;
    font-weight: 900;
    text-align: center;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -3px;
    top: -1px;
}
.content .head .icons img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
/* end head */

.page h1 {
    margin: 20px 20px 40px;
}

/* .page h1::before,
 .page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
}
.page h1::before {
    background-color: var(--grey-color);
    width: 170px;
}
.page h1::after {
    background-color: var(--green-color);
    width: 60px;
} */

.page .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)) ;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .page .wrapper {
        grid-template-columns: minmax(200px, 1fr) ;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* start welcome widget */
.welcome .intro {
    overflow: hidden;
}
.welcome .intro .cover {
    width: 100%;
    padding-bottom: 35px;
}
.welcome .intro h2 {
    position: absolute;
    color: white;
    left: 100px;
    top: 40%;
    transform: translateY(-50%);
}
.welcome .intro p {
    position: absolute;
    color: white;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 767px) {
    .welcome .intro .cover {
        padding-bottom: 15px;
    }
    .welcome .intro h2, 
    .welcome .intro p {
        left: 20px;
    }
}
.welcome .avatar {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 5px #333;
    left: 100px;
    bottom: 5px;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome .visit {
    margin: 0 15px 15px auto;
    transition: var(--transition);
} 
.welcome .visit:hover {
    background-color: var(--alt-green-color);
} 
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: -15px;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* end welcome widget */

/* start quick draft */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}
.quick-draft .save {
    margin-left: auto;
    cursor: pointer;
    transition: var(--transition);
}
.quick-draft .save:hover {
    background-color: var(--alt-green-color);
}
/* end quick draft */

/* start targets */
.targets .target-row .icons {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
@media (max-width: 767px) {
    .targets .target-row .icons {
        width: 40px;
        height: 40px;
        margin: 20px 10px 0 0;
    }
}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    height: 4px;
}
.targets .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 13px;
}
.targets .details .progress > span span::after {
    content: "";
    position: absolute;
    border: transparent;
    border-width: 5px;
    border-style: solid;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.targets .details .progress > .green span::after {
    border-top-color: var(--green-color);
}
.targets .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
.targets .details .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
.green .icons, 
.green .progress {
    background-color: rgb(48 164 32 / 40%);
}
.orange .icons, 
.orange .progress {
    background-color: rgb(192 117 5 / 40%);
}
.blue .icons, 
.blue .progress {
    background-color: rgb(41 125 204 / 40%);
}
/* end targets */

/* start tickets */
.tickets .box {
    border: 1px solid var(--border-color);
    width: calc(50% - 10px);
}
.tickets .box.green:hover{
    background-color: rgb(48 164 32 / 20%); 
}
.tickets .box.red:hover {
    background-color: rgb(195 60 60 / 20%); 
}
.tickets .box.blue:hover {
    background-color: rgb(41 125 204 / 20%); 
}
.tickets .box.orange:hover {
    background-color: rgb(192 117 5 / 20%); 
}
@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}
/* end tickets */

/* start latest news */
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.latest-news .news-row img {
    width: 120px;
    margin-right: 15px;
    border: 5px solid var(--border-color);
}
.latest-news .info {
    flex-grow: 1;
}
.latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}
@media (max-width: 767px) {
    .latest-news .news-row {
        flex-direction: column;
        gap: 20px;
    }
}
/* end latest news */

/* start tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
}
.tasks .info {
    flex-grow: 1;
}
.tasks .done {
    opacity: 0.3;
}
.tasks .done h3, 
.tasks .done p {
   text-decoration: line-through;
}
.tasks .delete {
    cursor: pointer;
    transition: var(--transition);
} 
.tasks .true {
    cursor: pointer;
    transition: var(--transition);
} 
.tasks .delete:hover {
    color: red;
} 
.tasks .true:hover {
    color: var(--green-color);
} 

/* end tasks */

/* start reminder */
.reminders ul li > .green {
    border-left: 2px solid var(--green-color);
}
.reminders ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li > .red {
    border-left: 2px solid var(--red-color);
}
.reminders ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.reminders ul li .key {
    width: 15px;
    height: 15px;
}
/* end reminder */

/* start social media */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    transition: var(--transition);
}
.social-media .box a {
    transition: var(--transition);
}
.social-media .box i:hover {
    transform: scale(1.1);
}
.social-media .box a:hover {
    transform: scale(1.1); 
}
.social-media .facebook {
    background-color: rgb(24 118 242 / 40%);
    color: #1877f2;
}
.social-media .facebook i, 
.social-media .facebook a {
    background-color: #1877f2;
}
.social-media .twitter {
    background-color: rgb(29 160 242 / 40%);
    color: #1da1f2;
}
.social-media .twitter i, 
.social-media .twitter a {
    background-color: #1da1f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 40%);
    color: #ff0000;
}
.social-media .youtube i, 
.social-media .youtube a {
    background-color: #ff0000;
}
.social-media .instagram {
    background-color: rgb(131 58 180 / 40%);
    color: #833ab4;
}
.social-media .instagram i, 
.social-media .instagram a {
    background-color: #833ab4;
}
@media (max-width: 424px) {
    .social-media .box span {
        display: none;
    }
    .social-media .box a {
        flex: 1;
    }
}
/* end social media */

/* start projects table */
.projects .responsive-table {
    overflow-x: auto;
}
.projects thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects table td {
    padding: 15px;
}
.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: var(--transition);
}
.projects table tbody tr td:last-child {
    border-right: 1px solid #eee;
}
.projects table tbody tr:hover td:not(:last-child) {
    background-color: #eee;
}
.projects table img {
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 50%;
    background-color: white;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
/* end projects table */

/* start settings */
@media (max-width: 767px) {
    /* page */
    .set {
        font-size: 20px;
    }
    .settings-page h2{
        font-size: 16px;
    }
    .settings-page p{
        font-size: 13px;
    }
    .settings-page .con span,  
    .settings-page .sec-box span{
        font-size: 12px;
    }
    .settings-page .con p, 
    .settings-page .sec-box p {
        font-size: 11px;
    }
    /* page */
}
.settings-page {
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
}
@media (max-width: 767px) {
    .settings-page {
        grid-template-rows: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.settings-page textarea::placeholder, 
.settings-page input::placeholder {
    color: white;
}
.settings-page .close-message {
    border: 1px solid var(--grey-color);
    resize: none;
    min-height: 150px;
    background-color: var(--grey-color);
} 
.widget-control .control input[type="checkbox"] {
    appearance: none;
}
.widget-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widget-control .control label::before, 
.widget-control .control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 6px;
}
.widget-control .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid var(--grey-color);
}
.widget-control .control label:hover::before {
    border-color: var(--green-color);
}
.widget-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: var(--green-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: var(--transition);
}
.widget-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
} 
.backup-control input[type="radio"] {
    appearance: none;
}
.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 50%;
    border: 2px solid var(--grey-color);
}
.backup-control .date label::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 4px;
    top: 5px;
    border-radius: 50%;
    background-color: var(--green-color);
    transition: var(--transition);
    transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--green-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}
.backup-control .servers {
    border-top: 1px solid var(--grey-color);
    padding-top: 20px;
}
@media (max-width: 767px) {
    .backup-control .servers {
        flex-direction: column;
    }
}
.backup-control .servers .server {
    border: 2px solid var(--grey-color);
    position: relative;
    transition: var(--transition);
}
.backup-control .server label {
    cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--green-color);
    color: var(--green-color);
}
.settings-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    border-right: none;
    border-radius: 15px 0 0 15px;
    transition: var(--transition);
}
.settings-page .social-boxes input {
    height: 40px;
    border: 1px solid #8c8987;
    border-radius: 0 15px 15px 0;
    padding-left: 10px;
}
.settings-page .social-boxes > div:focus-within .inst {
    color: #833ab4;
}
.settings-page .social-boxes > div:focus-within .face {
    color: #1877f2;
}
.settings-page .social-boxes > div:focus-within .whats {
    color: #075e54;
}
.settings-page .social-boxes > div:focus-within .twits {
    color: #1da1f2;
}
.settings-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}
.settings-page .sec-box {
    padding-bottom: 15px;
}
.settings-page .sec-box:not(:last-of-type) {
    border-bottom: 1px solid var(--grey-color);
}
.sec-box .toggle-switch {
    width: 90px;
}
.sec-box .toggle-switch::before { 
    font-size: 6px;
    content: "Able";
    width: 35px;
    border-radius: 20px;
}
.sec-box .toggle-checkbox:checked + .toggle-switch:before {
    font-size: 6px;
    content: "Disable";
    left: 51px;
}
/* start checkbox */
.toggle-checkbox {
    appearance: none;
    display: none;
}
.toggle-switch {
    position: relative;
    background-color: #ccc;
    width: 64px;
    height: 32px;
    border-radius: 20px;
    transition: var(--transition);
    cursor: pointer;
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    position: absolute;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    transition: var(--transition);
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--green-color);
}
.toggle-checkbox:checked + .toggle-switch:before {
    content: "\f00c";
    left: 36px;
    color: var(--green-color);
}
/* end checkbox */
/* end settings */

/* start profile */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
}
}
.profile-page .avatar-box {
    width: 300px;
}
.profile-page .avatar-box img {
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    width: 70%;
    margin: auto;
}
.profile-page .avatar-box .level span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--green-color);
    border-radius: 6px;
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    transition: var(--transition);
} 
@media (min-width: 768px) {
    .profile-page .info-box .box {
        border-left: 1px solid var(--border-color);
    }
}
@media (max-width: 767px) {
    .profile-page .info-box .box {
        justify-content: space-between;
    }
}
.profile-page .info-box .box:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
} 
.profile-page .info-box .box:hover {
    background-color: #f6f6f6;
}
.profile-page .info-box .box > div {
    padding: 10px 0 0;
    min-width: 200px;
}
.profile-page .info-box h4 {
    font-weight: normal;
}
/* start checkbox profile */
.profile-page .info-box .box .toggle-switch::before {
    width: 19px;
    height: 19px;
    top: 3px;
    left: 3;
}
.profile-page .info-box .box .toggle-checkbox:checked + .toggle-switch:before {
    left: 42px;
}
.profile-page .info-box .box .toggle-switch {
    height: 25px;
}
/* end checkbox profile */
.profile-page .skills-card {
    flex-grow: 1;
}
.profile-page .skills-card ul li {
    padding: 15px 0 ;
}
.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}
.profile-page .skills-card ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: var(--border-color);
    border-radius: 6px;
    font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}
.profile-page .activities {
    flex-grow: 2;
}
.profile-page .activity:not(:last-child) {
    border-bottom: 1px solid var(--transition);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50%;
}
@media (min-width: 768px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }
}
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    } 
    .profile-page .other-data .activity {
        flex-direction: column;
    } 
    .profile-page .activity img {
        margin: 0;
        margin-bottom: 15px;
    }
    .profile-page .activity .date {
        margin-top: 15px;
    }
}

/* end profile */

/* start projects */
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.projects-page .project .date {
    right: 0;
}
.projects-page .project .team {
    position: relative;
    min-height: 80px;
}
.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: var(--transition);
}
.projects-page .project .team a:nth-child(2) {
    left: 25px;
}
.projects-page .project .team a:nth-child(3) {
    left: 50px;
}
.projects-page .project .team a:nth-child(4) {
    left: 75px;
}
.projects-page .project .team a:nth-child(5) {
    left: 100px;
}
.projects-page .project .team a:hover {
    z-index: 1000;
    transform: scale(1.2);
}
.projects-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects-page .project .tech {
    justify-content: flex-end;
    border-top: 1px solid var(--border-color);
    padding-top: 15px;
    margin-top: 15px;
}
.projects-page .project .tech span {
    padding: 3px 8px;
    margin-left: 5px;
    width: fit-content;
}
.projects-page .project .info {
    border-top: 1px solid var(--border-color);
    margin-top: 15px;
    padding-top: 15px;
}
.projects-page .project .prog {
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
    background-color: var(--border-color);
}
.projects-page .project .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .projects-page .project .tech {
        flex-direction: column;
    }
    .projects-page .project .tech span:not(:last-child) {
        margin-bottom: 15px;
    }
    .projects-page .project .info {
        flex-direction: column;
    }
    .projects-page .project .prog {
        margin-bottom: 5px;
        width: 160px;
    }
}
/* end projects */

/* start courses */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    width: 100%;
}
.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    left: 20px;
    top: 20px;
    border: 2px solid white;
}
.courses-page .course .info {
    border-top: 1px solid var(--border-color);
    font-size: 13px;
}
.courses-page .course .info .title {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
}
.courses-page .course .description {
    line-height: 1.6;
}
@media (max-width: 767px) {
    .d-non-mobile {
        display: none;
    }
}
/* end courses */

/* start friends */
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 15px;
    }
}
.friends-page .friend .contact {
    position: absolute;
    left: 10px;
    top: 10px;
}
.friends-page .friend img {
    width: 80px;
    height: 80px;
}
.friends-page .friend .contact i {
    background-color: var(--border-color);
    color: var(--grey-color);
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    transition: var(--transition);
}
.friends-page .friend .contact i:hover {
    background-color: var(--green-color);
    color: white;
}
.friends-page .friend .icons {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.friends-page .friend .icons i {
    margin-right: 5px;
}
.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.3;
}
.friends-page .friend .info .pro:hover {
    background-color: var(--alt-green-color);
    transition: var(--transition);
}
.friends-page .friend .info .re:hover {
    background-color: rgb(200, 0, 0);
    transition: var(--transition);
}
.friends-page .info {
    flex-direction: column;
    gap: 20px;
}
/* end friends */

/* start files */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}
@media (max-width: 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-stats {
    min-width: 260px;
}
@media (max-width: 767px) {
    .files-page .files-stats {
        min-width: 160px;
    }
}
.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.files-page .files-stats .size {
    margin-left: auto;
}
.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 20px;
    font-weight: 900;
}
.files-page .files-stats .upload:hover {
    background-color: var(--alt-green-color);
    transition: var(--transition);
}
.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .file i {
    cursor: pointer;
    transition: var(--transition);
}
.files-page .files-content .file div:nth-of-type(2) {
    font-weight: 900;
}
.files-page .files-content .file i:hover {
    color: var(--green-color);
}
.files-page .files-content img {
    width: 64px;
    height: 64px;
    transition: var(--transition);
}
.files-page .files-content img:hover {
    transform: scale(1.1);
}
.files-page .files-content .info {
    border-top: 1px solid var(--border-color);
}
/* end files */

/* start plans */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
@media (max-width: 767px) {
    .plans-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 15px;
    }
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline: 3px solid var(--green-color);
}
.plans-page .plan.blue .top {
    outline: 3px solid var(--blue-color);
}
.plans-page .plan.orange .top {
    outline: 3px solid var(--orange-color);
}
.plans-page .plan a {
    margin-left: auto;
}
.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.plans-page .plan .blue:hover {
    background-color: #1877f2;
    transition: var(--transition);
}
.plans-page .plan .green:hover {
    background-color: var(--alt-green-color);
    transition: var(--transition);
}
.plans-page .plan .orange:hover {
    background-color: #855002;
    transition: var(--transition);
}
.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 20px;
}
.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid var(--border-color);
}
.plans-page .plan ul li {
    font-size: 17px;
}
.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}
/* end plans */

/* start footer */
footer {
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer .logo {
    font-size: 30px;
}
footer ul {
    display: flex;
    gap: 20px;
}
footer ul li {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: var(--border-color);
}
footer ul li a {
    display: flex;
    justify-content: center;
}
footer span {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}


/* end footer */